NEXT_PUBLIC_SUPABASE_URL=https://cobgzaafjppnxubcfoei.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
AUTH_TEST_PHONE_BYPASS_ENABLED=false
AUTH_TEST_PHONE_NUMBERS=
NEXT_PUBLIC_TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3003
NAVER_MAPS_CLIENT_ID=
NAVER_MAPS_CLIENT_SECRET=
